body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
  background: #555; 
}

/* Track */
::-webkit-scrollbar-track {
  background: #aaa; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
